@font-face {
   font-family: 'HP Simplified';
   font-display: swap;
   src: url('file:///C:/Users/Quandale%20Dingle/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-11-27_193223/fonts/HP%20Simplified/font.ttf');
}
